<a href="https://colab.research.google.com/github/cdcmx2020a/groupA_Jose/blob/master/Pandas.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

## Ejemplo para uso de Pandas

![texto alternativo](https://drwyjmricaxm7.cloudfront.net/repository/New-China-tour-Beijing-to-Chengdu-main-image--pandas-768241575284274_crop_683_341.jpg)

# Empezamos por importar la librería, lo cuál se hace con la instrucción
 `import pandas as pd`

## así, para usar pandas debemos invocar a `pd`

In [7]:
import pandas as pd

## Ahora, descargamos del sitio https://serendipia.digital/ los datos abiertos dados por el gobierno de méxico (pero arreglados por serendipia para un mejor manejo)

# La descarga de cualquier tipo de archivo de internet a nuestro Colab, se pude hacer con el comando 


```
# wget 
```
# este no es parte de Python, sino del sistema **linux** de la máquina virtual que soporta el Colab (por eso el símbolo "!" al principio).

In [6]:
!wget https://serendipia.digital/wp-content/uploads/2020/08/covid-19-mexico-07082020.csv

--2020-08-08 18:47:30--  https://serendipia.digital/wp-content/uploads/2020/08/covid-19-mexico-07082020.csv
Resolving serendipia.digital (serendipia.digital)... 64.90.35.127
Connecting to serendipia.digital (serendipia.digital)|64.90.35.127|:443... connected.
HTTP request sent, awaiting response... 200 OK
Length: 26813409 (26M) [text/csv]
Saving to: ‘covid-19-mexico-07082020.csv’

covid-19-mexico-070 100%[===================>]  25.57M  25.9MB/s    in 1.0s

2020-08-08 18:47:31 (25.9 MB/s) - ‘covid-19-mexico-07082020.csv’ saved [26813409/26813409]

## Podemos verificar que tenemos disponible el documento con el comando `ls` (también comando linux)

In [8]:
!ls

covid-19-mexico-07082020.csv  sample_data/

# Y ahora para manejarlo con Python y Pandas, lo convertimos en un `DataFrame` que es el elemento principal que maneja la librería Pandas. 

Para ello, usamos la función `read_csv` que hace lectura solo de archivos de extención `csv`

In [4]:
df = pd.read_csv('covid-19-mexico-07082020.csv')

## Al escribir solamente `df`, nos despliega el contenido:

In [5]:
df

       ID_REGISTRO           Nom_Ent SEXO  EDAD FECHA_SINTOMAS   RESULTADO
0           0f9404           Sinaloa    F    70     06/06/2020  confirmado
1           07b035    Aguascalientes    F     3     13/04/2020  confirmado
2           08c8fb  Ciudad de México    M    68     22/04/2020  confirmado
3           1a59f9           Tabasco    F    73     20/06/2020  confirmado
4           023a88            Sonora    F    54     27/03/2020  confirmado
...            ...               ...  ...   ...            ...         ...
469402      0744d4            Colima    M    16     12/07/2020  confirmado
469403      044137           Tabasco    M    48     09/07/2020  confirmado
469404      1a0976        Nuevo León    F    24     12/07/2020  confirmado
469405      099c78        Nuevo León    M    64     02/07/2020  confirmado
469406      1be2b5           Jalisco    M    40     09/07/2020  confirmado

[469407 rows x 6 columns]

# A partir de ese DataFrame, se pueden formar otros, por ejemplo usando solo algunas columnas:

In [12]:
df1 = df[ ['Nom_Ent','EDAD','RESULTADO'] ]

In [13]:
df1

                 Nom_Ent  EDAD   RESULTADO
0                Sinaloa    70  confirmado
1         Aguascalientes     3  confirmado
2       Ciudad de México    68  confirmado
3                Tabasco    73  confirmado
4                 Sonora    54  confirmado
...                  ...   ...         ...
469402            Colima    16  confirmado
469403           Tabasco    48  confirmado
469404        Nuevo León    24  confirmado
469405        Nuevo León    64  confirmado
469406           Jalisco    40  confirmado

[469407 rows x 3 columns]